.App {
  font-family: sans-serif;
  text-align: center;
}

.searchFeild {
  padding: 0.8rem;
  border: none;
  margin: 1rem;
  box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 3px 4px -2px rgba(0, 0, 0, 0.75);
  outline: none;
  background: #c4b5fd;
  cursor: pointer;
  font-size: 17px;
  color: #1f2937;
  border-radius: 4px;
}
::-webkit-input-placeholder {
  /* Edge */
  color: white;
}
.searchButton {
  background-color: #5b21b6;
  color: white;
}

.searchButton:hover {
  background-color: #4c1d95;
}

.githubLink {
  padding: 0.4rem;
  border: 1px solid #4c1d95;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}

.githubLink:hover {
  color: white;
  background: #4c1d95;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
